.navbar{
    background-color: rgba(43, 250, 250, 0.539);
}



.banner-part{
    background-color: rgba(43, 250, 250, 0.539);
    padding-top: 20px;
    padding-bottom: 20px;
}



.best-place{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(43, 250, 250, 0.539);
}


.best-place h1{
    display: block;
    text-align: center;
    padding: 0 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 60px;
    font-family: "Bungee Spice", sans-serif;
    background-color: rgba(0, 0, 0, 0.386);
    
}


.card-list{
    justify-content: center;
    column-gap: 50px;
    
}


.card{
    margin-top: 20px;
}



.most-place{
    padding-top: 20px   ;
    background-color: rgba(43, 250, 250, 0.539);
}